@{
    ViewData["Title"] = "Home";
}
<div class="p-5 bg-light rounded">
    <h1>Daily Journal</h1>
    <p class="lead">Fixed build with default password rules. Register a user at <a href="/Identity/Account/Register">Register</a> and start creating journal entries.</p>
    <p><a class="btn btn-primary" href="/Journal">Go to My Journal</a></p>
</div>
